<div class="home__container">
	<app-card
		gameCover="https://github.com/felipeAguiarCode/angular-psn-store-clone/blob/main/src/assets/bt-5.jpg?raw=true"
        gamePrice="R$ 399,90"
        gameType="Digital PS4"
        gameLabel="Exclusive"
	></app-card>
	<app-card
        gameCover="https://github.com/felipeAguiarCode/angular-psn-store-clone/blob/main/src/assets/bt-hardline.jpg?raw=true"
        gamePrice="R$ 29,90"
        gameType="Disc PS5"
        gameLabel="New"
    ></app-card>
	<app-card
        gameCover="https://github.com/felipeAguiarCode/angular-psn-store-clone/blob/main/src/assets/ac-cover.jpg?raw=true"
        gamePrice="R$ 29,90"
        gameType="Digital PS3 PS4"
        gameLabel="Best of Year"
    ></app-card>
</div>
